<!doctype html>
<html>
    <head>
        <!-- Metadados -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="./static/css/styles.css" media="screen">
        
        <!-- Título da página (aparece na aba) -->
        <title>Cadastro Módulo</title>
    </head>
    <body> 
        <div class="container0">
            <div class="container">
                <!-- Cabeçalho com título e subtítulo (ambos com css de id "titulo") -->
                <div>
                    <h1 id="titulo">Cadastro de Módulo</h1>
                    <br>
                </div>
            </div>
                <!-- Início do formulário -->
        <div class="container4">
            <form method="POST" action="" class="border p-4 mt-2">
                        {{ form_cadastroModulos.csrf_token }}
                    <fieldset class="grupo2">
                        <!-- Campo do nome com a descrição do Módulo e css de classe "campo" -->
                        <!------------------------ 1 Campo -------------------------->
                        <div class="form-group">
                                {{ form_cadastroModulos.descrModule.label(class="form-control-label") }}
                                {% if form_cadastroModulos.descrModule.errors %}
                                     {{ form_cadastroModulos.descrModule(class="form-control is-invalid") }}
                                     <div class="invalid-feedback">
                                         {% for erro in form_cadastroModulos.descrModule.errors %}
                                             {{ erro }}
                                         {% endfor %}
                                     </div>
                                {% else %}
                                     {{ form_cadastroModulos.descrModule(class="form-control") }}
                                {% endif %}                                               
                        </div>
                        <!------------------------ 2 Campo -------------------------->   
                        <div class="form-group">
                            {{ form_cadastroModulos.fixed_ip.label(class="form-control-label") }}
                            {% if form_cadastroModulos.fixed_ip.errors %}
                                 {{ form_cadastroModulos.fixed_ip(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                     {% for erro in form_cadastroModulos.fixed_ip.errors %}
                                         {{ erro }}
                                     {% endfor %}
                                 </div>
                            {% else %}
                                 {{ form_cadastroModulos.fixed_ip(class="form-control") }}
                            {% endif %}                                               
                        </div>
                        <!------------------------ 3 Campo -------------------------->  
                        <div class="form-group">
                            {{ form_cadastroModulos.udp_Port.label(class="form-control-label") }}
                            {% if form_cadastroModulos.udp_Port.errors %}
                                 {{ form_cadastroModulos.udp_Port(class="form-control is-invalid") }}
                                 <div class="invalid-feedback">
                                     {% for erro in form_cadastroModulos.udp_Port.errors %}
                                         {{ erro }}
                                     {% endfor %}
                                 </div>
                            {% else %}
                                 {{ form_cadastroModulos.udp_Port(class="form-control") }}
                            {% endif %}                                               
                        </div>                           
                        <!------------------------ 4 Campo -------------------------->  
                        <div class="form-group">
                            {{ form_cadastroModulos.selectOperacao.label(class="form-control-label") }}
                           {% if form_cadastroModulos.selectOperacao.errors %}
                                {{ form_cadastroModulos.selectOperacao(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form_cadastroModulos.selectOperacao.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                           {% else %}
                                {{ form_cadastroModulos.selectOperacao(class="form-control") }}
                           {% endif %}
                        </div>
                        <br>
                        <!------------------------ 5 Campo -------------------------->  
                        <div class="form-group">
                            {{ form_cadastroModulos.selectActiveModule.label(class="form-control-label") }}
                           {% if form_cadastroModulos.selectActiveModule.errors %}
                                {{ form_cadastroModulos.selectActiveModule(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form_cadastroModulos.selectActiveModule.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                           {% else %}
                                {{ form_cadastroModulos.selectActiveModule(class="form-control") }}
                           {% endif %}
                        </div>
                        <br>
                        <!------------------------ 6 Campo -------------------------->  
                        </div>
                    </fieldset>
                    <button class="botao2" type="submit" onsubmit="">Salvar</button> 
                </div>
                <!------------------------ fim Campo -------------------------->  

           <!-- <div class="container3">
                    <fieldset class="grupoOper">
                        <!-- Campo do select Operadora "Operadora" e css de classe "campo"
                        <label for="nOper"><strong>Nome da Operadora <br>
                        <select id="nOper" required>
                            <option selected disabled value="">Selecione</option>
                            <option value="tim">TIM</option>
                            <option value="claro">CLARO</option>
                            <option value="vivo">VIVO</option>
                            <option value="oi">OI</option>
                        </Select>
                        </strong></label>
                    </fieldset> <br>
                    <button class="botao3" type="submit" onsubmit="">Deletar Operadora</button> 
                    <button class="botao4" type="submit" onsubmit="">Salvar</button> 
                </div>     -->
            </form>



            <div class="container5">
                <table class="table">
                    <thead>
                        <tr>
                            <th value="id">id Operadora</th>
                            <th value="operadora">Operadora</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                                <td value="id">001</td>
                                <td value="operadora">Claro</td>
                        </tr>
                        <tr>
                            <td value="id">002</td>
                            <td value="operadora">Vivo</td>
                        </tr>
                        <tr>
                            <td value="id">003</td>
                            <td value="operadora">Tim</td>
                        </tr>
                        <tr>
                            <td value="id">004</td>
                            <td value="operadora">Oi</td>
                        </tr>
                    </tbody>
                  </table>
            </div>           
        </div> 
    </body>
</html>
