<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div class="image pe-2">
      <a href="/" id="navbarVoltarInicio">
        <img
          src="/static/icones/logo-optin.png"
          class="img-fluid"
          width="150"
        />
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
          <img
            src="/static/icones/logo-optin.png"
            class="img-fluid"
            width="150"
          />
        </h5>
        <button
          type="button"
          class="btn-close btn-close-black"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end bg-dark flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >Administrativo</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{{ url_for ('consultarDados') }}"
                  >Consultar Dados
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{{ url_for ('cad_conf_xmls') }}"
                  >Configuração de XML</a
                >
              </li>
              <!-- SubMenu de Cadastro -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Cadastro
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li>
                    <a class="dropdown-item" href="{{ url_for ('cad_Operadoras') }}"
                      >Operadoras</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for ('cad_Servers') }}"
                      >Servidor</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for ('cad_Modules') }}"
                      >Módulos</a
                    >
                  </li>
                 <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for ('cad_Mensagens_Marketing') }}"
                      >Mensagens de Marketing</a
                    >
                  </li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Relatório
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li>
                        <a class="dropdown-item" href="#">Em Desenvolvimento</a>
                    </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for ('minhalocalizacao') }}">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="30"
                    height="30"
                    fill="currentColor"
                    class="bi bi-geo-alt text-danger"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"
                    />
                    <path
                      d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
                    /></svg
                  >Minha Localização
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for ('sair') }}">Sair</a>
              </li>
            </ul>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ul class="d-flex navbar-nav">
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for ('perfil') }}"> Meu Perfil</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for ('cad_Users') }}"
                  >Criar Conta</a
                >
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for ('login') }}">Login</a>
              </li>
            </ul>
      </div>
    </div>
  </div>
</nav>
