.card {
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color:  rgba(45, 51, 173, 0.5)

    
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}

.meupost {
   background: #f2f5f8 !important;
}

.titleTabModules {
    font-size: 20px;
    text-align: center;
    color: red;
    border: 1px;
    padding: 0.1em;
}
.fundodivlogo {
    background: #f2f5f8 !important;
}

#div_tabdados{
    max-width: 100%;
    height: auto;
    overflow: scroll;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td, .tg th{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;font-weight:normal;padding:50px 50px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}

.mt-3 {
    margin-top: 5rem!important;
    text-align: center !important; 
}

h1  {
    color: rgb(138 188 63) !important;
    margin-top: 13% !important;
}

.h1, h1  {  
    font-size:30px !important;
    
}

h5  {
    color: #fff !important;
}



.offcanvas{
    background-color: rgb(33,37,41) !important;
}
.row {
    margin-top: 13%!important;
    align-items: center !important;
    
}

.col-3{
    margin-top: 100;


}

body{
    align-items: center !important;
    background-image: url("./imagens/cidade.jpg") !important;
    background-repeat: no-repeat;
    background-size: 100vw;
    color: #fff;
}

.fs-5{
    font-size:28px !important;
}

.border {
    border: 1.5px solid rgba(169, 63, 188, 0.545)!important;
}

.btn-primary{
    margin-left: 35% !important;
}
ul .d-flex {
    flex-direction: row !important;
}
.bg-dark {
    --bs-bg-opacity: 0.9 !important;
}

.login_manager.login_message{
    margin-bottom: 25% !important;
}

.alert-success {
    margin-top: 100px !important;
}

.alert-info {
    margin-top: 100px !important;
}

label {
    color: #9199bd !important;
}

.form-control{
    color: #000 !important;
}

textarea.form-control {
    color: #000 !important;
}

.card-body {
    margin-top: 3px!important;
}

th, td{
    color: #fff;
    border-color: #fff;
}
.table{
    position: relative!important;
    display: block !important;
    flex-direction: column!important;
    min-width: 0!important;
    word-wrap: break-word!important;
}

.card {
    position: relative;
    display: block !important;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  
}
.text-muted {
    color: #fff!important;
}

button{
    color: #fff !important;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    pointer-events: visible !important;
}
.chama{
    color: #000!important;

}
.tabxml{
    border-color: aquamarine;
    margin-top: 8%;
    
}


