<!doctype html>
<html>
    <head>
        <!-- Metadados -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="static/style.css" media="screen">
        
        <!-- Título da página (aparece na aba) -->
        <title>Cadastro XML-GSM</title>
    </head>
    <body> 
        <div class="container0">
            <div class="container">
                <!-- Cabeçalho com título e subtítulo (ambos com css de id "titulo") -->
                <div>
                    <h1 id="titulo">Cadastro de Xml</h1>
                    <p id="subtitulo">Módulos GSM</p>
                    <br>
                </div>
            </div>
                <!-- Início do formulário -->
            <form>
                <div class="container1">
                    <fieldset class="grupo1">
                        <!-- Campo do nome com legenda "nome" e css de classe "campo" -->
                     
                        <label for="cidade"><strong>Cidade</strong></label>
                        <select id="cidade" required>
                            <option selected disabled value="">Selecione</option>
                            <option value="sp">São Paulo</option>
                            <option value="cp">Campinas</option>
                            <option value="sjc">São José dos Campos</option>
                            <option value="st">Santos</option>
                        </Select>
                        
                        <label for="modulo"><strong>Módulo</strong></label>
                        <select id="modulo" required>
                            <option selected disabled value="">Selecione</option>
                            <option value="b1">Módulo B1</option>
                            <option value="b3">Módulo B3</option>
                            <option value="b7">Módulo B7</option>
                            <option value="b28">Módulo B28</option>
                        </Select>
                       
                    </fieldset> <br>
                    <fieldset class="grupo">
                        <label for="rxgain"><strong>rxGain</strong></label>
                        <input type="text" name="rxgain" id="rxgain" required>
                        <label for="txpwr"><strong>txPwr</strong></label>
                        <input type="text" name="txpwr" id="txpwr" required>
                        <button class="botao1" type="submit" onsubmit="">Salvar</button> 
                    </fieldset>
                    
                </div>
                <div class="container3">
                    <fieldset>
                        <!-- Campo de frequencias(input) e css de classe "campo" -->
                        <p id="subtitulo2"><strong>Item</strong></p>
                        <br>
                        <br>
                        <div class="card">
                            <label for="arfcn"><strong>ARFCN <br>
                            <input type="text" name="arfcn" id="arfcn" required></strong></label>
                            <label for="mcc"><strong>MCC <br>
                            <input type="text" name="mcc" id="mcc" required></strong></label>
                            <label for="mcn"><strong>MNC <br>
                            <input type="text" name="mcn" id="mcn" required></strong></label>
                        </div>
                        <div class="card1">
                            <label for="lai"><strong>LAI <br>
                            <input type="text" name="lai" id="lai" required></strong></label>
                            <label for="sib3cellid"><strong>SIB3CELLID <br>
                            <input type="text" name="sib3cellid" id="sib3cellid" required></strong></label>
                            <label for="bsic"><strong>BSIC <br>
                            <input type="text" name="bsic" id="bsic" required></strong></label>
                        </div>  
                        <div class="card2">
                            <label for="cro"><strong>CRO <br>
                            <input type="text" name="cro" id="cro" required></strong></label>
                            <label for="rxlevaccmin"><strong>RXLEVACCMIN <br>
                            <input type="text" name="rxlevaccmin" id="rxlevaccmin" required></strong></label>
                            <label for="reselcthyst"><strong>RESELCTHYST <br>
                            <input type="text" name="reselcthyst" id="reselcthyst" required></strong></label>
                        </div>
                        <div class="card3">
                            <label for="nbfreq"><strong>NBFREQ <br>
                            <input type="text" name="nbfreq" id="nbfreq" required></strong></label>

                            <button class="botao" type="submit" onsubmit="">Salvar</button> 
                        </div>
                    </fieldset>
                </div>           
            </form>
            <div class="container3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th value="id">id</th>
                            <th value="rxGain">rxGain</th>
                            <th value="txPwr">txPwr</th>
                            <th value="arfcn">arfcn</th>
                            <th value="mcc">mcc</th>
                            <th value="mnc">mnc</th>
                            <th value="lai">lai</th>
                            <th value="sib3cellid">sib3cellid</th>
                            <th value="bsic">bsic</th>
                            <th value="CRO">CRO</th>
                            <th value="rxlevaccmin">rxlevaccmin</th>
                            <th value="reselcthyst">reselcthyst</th>
                            <th value="nbfreq">nbfreq</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th value="id">id</td>
                            <td value="rxGain">rxGain</td>
                            <td value="txPwr">txPwr</td>
                            <td value="arfcn">arfcn</td>
                            <td value="mcc">mcc</td>
                            <td value="mnc">mnc</td>
                            <td value="lai">lai</td>
                            <td value="sib3cellid">sib3cellid</td>
                            <td value="bsic">bsic</td>
                            <td value="CRO">CRO</td>
                            <td value="rxlevaccmin">rxlevaccmin</td>
                            <td value="reselcthyst">reselcthyst</td>
                            <td value="nbfreq">nbfreq</td>
                      </tr>
                    </tbody>
                    <button class="botao" type="submit" onsubmit="">Salvar</button> 
                  </table>
            </div>           
        </div> 
    </body>
</html>
