{% extends 'base.html' %}

{% block body %}
        <div class="container">
            <!-- <h1>Cadastro de Módulos</h1> -->
             <div class="row">
                 <button class ="chama"><a href=""></a> chama</button>
                <div class="col col-3">
                    {{ form_cad_conf_xmls.csrf_token }}
                        <legend>
                            <img src="/static/icons_bootstrap/cpu-fill.svg" width="35" height="35"  fill="currentColor" alt="Bootstrap">&nbsp;&nbsp;
                            Cadastrar XML
                        </legend>
                    <hr>
                        <fieldset>
                            <!------------------------ 1º Campo descrXML -------------------------->
                            <div class="form-floating mb-2">
                                {{ form_cad_conf_xmls.descrXML.label(class="form-control-label") }}
                            {% if form_cad_conf_xmls.descrXML.errors %}
                                    {{ form_cad_conf_xmls.descrXML(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.descrXML.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                            {% else %}
                                    {{ form_cad_conf_xmls.descrXML(class="form-control") }}
                            {% endif %}                                
                            </div>
                            <!------------------------ 2º Campo rxGain -------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.rxGain.label(class="form-control-label") }}
                            {% if form_cad_conf_xmls.rxGain.errors %}
                                    {{ form_cad_conf_xmls.rxGain(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.rxGain.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                            {% else %}
                                    {{ form_cad_conf_xmls.rxGain(class="form-control") }}
                            {% endif %}                                
                            </div>
                            <!------------------------ 3º Campo txPwr -------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.txPwr.label(class="form-control-label") }}
                            {% if form_cad_conf_xmls.txPwr.errors %}
                                    {{ form_cad_conf_xmls.txPwr(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.txPwr.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                            {% else %}
                                    {{ form_cad_conf_xmls.txPwr(class="form-control") }}
                            {% endif %}                                
                            </div>
                            <!------------------------ 3.1 Campo cell -------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.cell.label(class="form-control-label") }}
                            {% if form_cad_conf_xmls.cell.errors %}
                                    {{ form_cad_conf_xmls.cell(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.cell.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                            {% else %}
                                    {{ form_cad_conf_xmls.cell(class="form-control") }}
                            {% endif %}                                
                            </div>
                        </fieldset>
                        {{ form_cad_conf_xmls.botao_Salvar(class="btn btn-primary mt-2")  }}
                </form>
                </div>
            </div>
        <div class="container">
            <!-- <h1>Cadastro de Módulos</h1> -->
           <div class="row">
                <div class="col col-5">
                   <form method="POST" action="" class="border p-4 mt-2">
                       {{ form_cad_conf_xmls.csrf_token }}
                       <hr>
                        <fieldset>
                            <!------------------------ 4º Campo arfcn -------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.arfcn.label(class="form-control-label") }}
                               {% if form_cad_conf_xmls.arfcn.errors %}
                                    {{ form_cad_conf_xmls.arfcn(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.arfcn.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                               {% else %}
                                    {{ form_cad_conf_xmls.arfcn(class="form-control") }}
                               {% endif %}                                
                            </div>
                            <!------------------------ 5º Campo mcc -------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.mcc.label(class="form-control-label") }}
                               {% if form_cad_conf_xmls.mcc.errors %}
                                    {{ form_cad_conf_xmls.mcc(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.mcc.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                               {% else %}
                                    {{ form_cad_conf_xmls.mcc(class="form-control") }}
                               {% endif %}                                
                            </div>
                            <!------------------------ 6º Campo mnc -------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.mnc.label(class="form-control-label") }}
                               {% if form_cad_conf_xmls.mnc.errors %}
                                    {{ form_cad_conf_xmls.mnc(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.mnc.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                               {% else %}
                                    {{ form_cad_conf_xmls.mnc(class="form-control") }}
                               {% endif %}                                
                            </div>
                            <!------------------------ 7º Campo lai -------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.lai.label(class="form-control-label") }}
                               {% if form_cad_conf_xmls.lai.errors %}
                                    {{ form_cad_conf_xmls.lai(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.lai.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                               {% else %}
                                    {{ form_cad_conf_xmls.lai(class="form-control") }}
                               {% endif %}                                
                            </div>
                            <!------------------------ 8º Campo sib3CellId-------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.sib3CellId.label(class="form-control-label") }}
                               {% if form_cad_conf_xmls.sib3CellId.errors %}
                                    {{ form_cad_conf_xmls.sib3CellId(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.sib3CellId.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                               {% else %}
                                    {{ form_cad_conf_xmls.sib3CellId(class="form-control") }}
                               {% endif %}                                
                            </div>
                            <!------------------------ 9º Campo bsic -------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.bsic.label(class="form-control-label") }}
                               {% if form_cad_conf_xmls.bsic.errors %}
                                    {{ form_cad_conf_xmls.bsic(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.bsic.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                               {% else %}
                                    {{ form_cad_conf_xmls.bsic(class="form-control") }}
                               {% endif %}                                
                            </div>
                            <!------------------------ 10º Campo cro -------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.cro.label(class="form-control-label") }}
                               {% if form_cad_conf_xmls.cro.errors %}
                                    {{ form_cad_conf_xmls.cro(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.cro.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                               {% else %}
                                    {{ form_cad_conf_xmls.cro(class="form-control") }}
                               {% endif %}                                
                            </div>
                            <!-----------------------11º Campo rxLevAccMin-------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.rxLevAccMin.label(class="form-control-label") }}
                               {% if form_cad_conf_xmls.rxLevAccMin.errors %}
                                    {{ form_cad_conf_xmls.rxLevAccMin(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.rxLevAccMin.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                               {% else %}
                                    {{ form_cad_conf_xmls.rxLevAccMin(class="form-control") }}
                               {% endif %}                                
                            </div>
                            <!------------------------ 12º Campo mnc -------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.reselctHyst.label(class="form-control-label") }}
                               {% if form_cad_conf_xmls.reselctHyst.errors %}
                                    {{ form_cad_conf_xmls.reselctHyst(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.reselctHyst.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                               {% else %}
                                    {{ form_cad_conf_xmls.reselctHyst(class="form-control") }}
                               {% endif %}                                
                            </div>
                            <!------------------------ 13º Campo nbFreq -------------------------->
                            <div class="form-group">
                                {{ form_cad_conf_xmls.nbFreq.label(class="form-control-label") }}
                               {% if form_cad_conf_xmls.nbFreq.errors %}
                                    {{ form_cad_conf_xmls.nbFreq(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form_cad_conf_xmls.nbFreq.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                               {% else %}
                                    {{ form_cad_conf_xmls.nbFreq(class="form-control") }}
                               {% endif %}                                
                            </div>
                        </fieldset>
                        {{ form_cad_conf_xmls.botao_Salvar(class="btn btn-primary mt-2")  }}
                   </form>
                </div>
            </div>

            <!----- Tabela com os todos os Módulos Cadastrados ---->
            <br>
           <div class="row">
                <div class="col col-10">
                    <div class="table-responsive">
                        <p class="titleTabModules"><strong>Módulos Cadastrados</strong></p>
                        <table class="table">
                            <thead>
                                    <tr class="table-primary">
                                        <th scope="col">Id</th>
                                        <th scope="col">Descrição do Módulo</th>
                                        <th scope="col">IP do Módulo</th>
                                        <th scope="col">Porta UDP</th>
                                        <th scope="col">Ativo ?</th>
                                    </tr>
                            </thead>
                            <tbody>
                                    <tr class="table-secondary">
                                        <td>01</td>
                                        <td>Modulo 01</td>
                                        <td>192.168.2.1</td>
                                        <td>8080</td>
                                        <td>Sim</td>
                                    </tr>
                                    <tr class="table-danger">
                                        <td>02</td>
                                        <td>Modulo 02</td>
                                        <td>192.168.2.2</td>
                                        <td>8080</td>
                                        <td>Não</td>
                                    </tr>
                                    <tr class="table-warning">
                                        <td>03</td>
                                        <td>Modulo 03</td>
                                        <td>192.168.2.3</td>
                                        <td>8080</td>
                                        <td>Não</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!----- Fim da Tabela com os todos os Módulos Cadastrados ---->
        </div>
{% endblock %}